{% extends 'registary/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="main-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to The Most Weird CivilReg</h1>
        <p class="lead">The weird official civil registration system.</p>
        <hr class="my-4">
        <p>Search records, your limit will be ended in a blink of an eye.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'search' %}" role="button">Start Searching</a>
    </div>
</div>
{% endblock %}